.main{
    background-color: rgb(212, 143, 56);
    height:95vh;
    padding: 5rem;
    .card_box{
        background: white;
        padding: 5rem;
        height: calc(95vh - 5rem);
        .result{
            background: black;
            height: 4rem;

        }
    }
}